<!DOCTYPE html>
    <head>
        {% include 'header.html' %}
        
        <!-- check head -->
        <title>Credit Cards by Nasko</title>
        <meta name="viewport"
            content="width=device-width, intital-scale=1">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    </head>
    <body>

        {% include 'navbar.html' %}

        <div class="modal fade" id="quiz1pop">
          <div class="modal-dialog">
            <div class="modal-content">
        
              <!-- Modal Header -->
              <div class="modal-header">
                <h4 class="modal-title">Quiz 1: What are credit cards?</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
              </div>
        
              <!-- Modal body -->
              <div class="modal-body">
                {% include 'quizinstructions.html' %}
                <form action="/action_pageq.php" id="q1.1" class="needs-validation" novalidate>
                  <h6>1. Where do funds for your credit card come from?</h6>
                  <div class="form-check">
                      <input type="radio" class="form-check-input" id="opt1.1.1" name="optradio" value="option1">
                      the respective bank's funds
                      <label class="form-check-label"> checked!</label>
                  </div>
                  <div class="form-check">
                      <input type="radio" class="form-check-input" id="opt1_1_2" name="optradio" value="option2">
                      the specified credit line and the card's bank
                      <label class="form-check-label"></label>
                  </div>
                  <div class="form-check">
                      <input type="radio" class="form-check-input" id="opt1.1.3" name="optradio" value="option3">
                      the amount of money you put into it at the beginning of the month
                      <label class="form-check-label"></label>
                  </div> 
                  <div class="form-check">
                    <input type="radio" class="form-check-input" id="opt1.1.4" name="optradio" value="option3">
                    your available money in your bank account
                    <label class="form-check-label"></label>
                    <div class="valid-feedback">Correct Answer!</div>
                    <div class="invalid-feedback">Incorrect or Unselected Answer.</div>
                  </div>
                  <button id="checkQ1.1" type="button" class="btn btn-info">Check Question 1</button>
                </form>
                <hr>
                <form action="/action_pageq.php" id="q1.2" class="needs-validation" novalidate>
                  <h6>2. What is the GODLEN RULE OF CREDIT CARDS?</h6>
                  <div class="form-check">
                        <input type="radio" class="form-check-input" id="opt1_2_1" name="optradio" value="option1">
                        Never spend more on your credit card than you have in your available funds
                        <label class="form-check-label" for="radio1"></label>
                  </div>
                  <div class="form-check">
                        <input type="radio" class="form-check-input" id="opt1.2.2" name="optradio" value="option2">
                        pay your credit card on time
                        <label class="form-check-label" for="radio2"></label>
                  </div>
                  <div class="form-check">
                        <input type="radio" class="form-check-input" id="opt1.2.3" name="optradio" value="option3">
                        always use your credit card benefits to the fullest extent
                        <label class="form-check-label"></label>
                  </div> 
                  <div class="form-check">
                      <input type="radio" class="form-check-input" id="opt1.2.4" name="optradio" value="option3">
                      always get credit cards with $0 annual fee
                      <label class="form-check-label"></label>
                      <div class="valid-feedback">Correct Answer!</div>
                      <div class="invalid-feedback">Incorrect or Unselected Answer.</div>
                  </div> 
                  <button id="checkQ1.2" type="button" class="btn btn-info">Check Question 2</button>
                </form>
                <hr>
                <form action="/action_page.php" id="q1.3" class="needs-validation" novalidate>
                  <h6>3. What is a credit line?</h6>
                  <div class="form-check">
                        <input type="radio" class="form-check-input" id="opt1_3_1" name="optradio" value="option1">
                        the available amount of money you can spend with your credit card
                        <label class="form-check-label" for="radio1"></label>
                  </div>
                  <div class="form-check">
                        <input type="radio" class="form-check-input" id="opt1.3.2" name="optradio" value="option2">
                        a call line to get service and help on understanding your credit card
                        <label class="form-check-label" for="radio2"></label>
                  </div>
                  <div class="form-check">
                        <input type="radio" class="form-check-input" id="opt1.3.3" name="optradio" value="option3">
                        the amount of funds available to spend for your debit card
                        <label class="form-check-label"></label>
                  </div> 
                  <div class="form-check">
                      <input type="radio" class="form-check-input" id="opt1.3.4" name="optradio" value="option3">
                      the minimum amount of money you need to spend with your credit card
                      <label class="form-check-label"></label>
                      <div class="valid-feedback">Correct Answer!</div>
                      <div class="invalid-feedback">Incorrect or Unselected Answer.</div>
                  </div> 
                  <button id="checkQ1.3" type="button" class="btn btn-info">Check Question 3</button>
                </form>
                <hr>
                <form action="/action_page.php" id="q1.4" class="needs-validation" novalidate>
                  <h6>4. What do people use credit cards for?</h6>
                  <div class="form-check">
                        <input type="radio" class="form-check-input" id="radio1" name="optradio" value="option1">
                        daily transactions
                        <label class="form-check-label" for="radio1"></label>
                  </div>
                  <div class="form-check">
                        <input type="radio" class="form-check-input" id="radio2" name="optradio" value="option2">
                        accumulate a better credit score
                        <label class="form-check-label" for="radio2"></label>
                  </div>
                  <div class="form-check">
                        <input type="radio" class="form-check-input" id="radio3" name="optradio" value="option3">
                        gain cash back many other benefits
                        <label class="form-check-label"></label>
                  </div> 
                  <div class="form-check">
                      <input type="radio" class="form-check-input" id="opt1_4_4" name="optradio" value="option3">
                      all of the above
                      <label class="form-check-label"></label>
                      <div class="valid-feedback">Correct Answer!</div>
                      <div class="invalid-feedback">Incorrect or Unselected Answer.</div>
                  </div> 
                  <button id="checkQ1.4" type="button" class="btn btn-info">Check Question 4</button>
                </form>
                <hr>
                <form action="/action_page.php" id="q1.5" class="needs-validation" novalidate>
                  <h6>5. What is Mint?</h6>
                  <div class="form-check">
                        <input type="radio" class="form-check-input" id="opt1_5_1" name="optradio" value="option1">
                        a funds/budget tracker where you can connect all of your fund accounts and credit cards to track spending and investments
                        <label class="form-check-label" for="radio1"></label>
                  </div>
                  <div class="form-check">
                        <input type="radio" class="form-check-input" id="radio2" name="optradio" value="option2">
                        a database of credit cards to apply for
                        <label class="form-check-label" for="radio2"></label>
                  </div>
                  <div class="form-check">
                        <input type="radio" class="form-check-input" id="radio3" name="optradio" value="option3">
                        a credit score tracker
                        <label class="form-check-label"></label>
                  </div> 
                  <div class="form-check">
                      <input type="radio" class="form-check-input" id="radio4" name="optradio" value="option3">
                      a beginner friendly tutorial on understanding credit cards
                      <label class="form-check-label"></label>
                      <div class="valid-feedback">Correct Answer!</div>
                      <div class="invalid-feedback">Incorrect or Unselected Answer.</div>
                  </div> 
                  <button id="checkQ1.5" type="button" class="btn btn-info">Check Question 5</button>
                </form>
              </div>
        
              <!-- Modal footer -->
              <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
              </div>
        
            </div>
          </div>
        </div>

        <div class="modal fade" id="quiz2pop">
          <div class="modal-dialog">
            <div class="modal-content">
        
              <!-- Modal Header -->
              <div class="modal-header">
                <h4 class="modal-title">Quiz 2: Why are credit cards benefitial? & Types of Credit Cards</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
              </div>
        
              <!-- Modal body -->
              <div class="modal-body">
                {% include 'quizinstructions.html' %}
                <form action="/action_pageq.php" id="q2.1" class="needs-validation" novalidate>
                  <h6>1. Which of the following is NOT a benefit to credit cards?</h6>
                  <div class="form-check">
                      <input type="radio" class="form-check-input" id="radio1" name="optradio" value="option1">
                      sign-up bonuses such as direct funds and reward points
                      <label class="form-check-label" for="radio1"></label>
                  </div>
                  <div class="form-check">
                      <input type="radio" class="form-check-input" id="opt2_1_2" name="optradio" value="option2">
                      free airfare tickets
                      <label class="form-check-label" for="radio2"></label>
                  </div>
                  <div class="form-check">
                      <input type="radio" class="form-check-input" id="radio3" name="optradio" value="option3">
                      cash back
                      <label class="form-check-label"></label>
                  </div> 
                  <div class="form-check">
                    <input type="radio" class="form-check-input" id="radio4" name="optradio" value="option3">
                    building your credit score/history
                    <label class="form-check-label"></label>
                    <div class="valid-feedback">Correct Answer!</div>
                    <div class="invalid-feedback">Incorrect or Unselected Answer.</div>
                  </div> 
                  <button id="checkQ2.1" type="button" class="btn btn-info">Check Question 1</button>
                </form>
                <hr>
                <form action="/action_pageq.php" id="q2.2" class="needs-validation" novalidate>
                  <h6>2. What is cash back?</h6>
                  <div class="form-check">
                        <input type="radio" class="form-check-input" id="radio1" name="optradio" value="option1">
                        when you pay your monthly payments, a certain amount will be added to your funds
                        <label class="form-check-label" for="radio1"></label>
                  </div>
                  <div class="form-check">
                        <input type="radio" class="form-check-input" id="radio2" name="optradio" value="option2">
                        reward points for stores, shopping, restaurants, etc.
                        <label class="form-check-label" for="radio2"></label>
                  </div>
                  <div class="form-check">
                        <input type="radio" class="form-check-input" id="opt2_2_3" name="optradio" value="option3">
                        a certain percentage of every transaction you make will be rebated to actual funds for yourself
                        <label class="form-check-label"></label>
                  </div> 
                  <div class="form-check">
                      <input type="radio" class="form-check-input" id="radio4" name="optradio" value="option3">
                      none of the above
                      <label class="form-check-label"></label>
                      <div class="valid-feedback">Correct Answer!</div>
                      <div class="invalid-feedback">Incorrect or Unselected Answer.</div>
                  </div> 
                  <button id="checkQ2.2" type="button" class="btn btn-info">Check Question 2</button>
                </form>
                <hr>
                <form action="/action_page.php" id="q2.3" class="needs-validation" novalidate>
                  <h6>3. Which of the following is NOT true about why is building credit and a credit history important?</h6>
                  <div class="form-check">
                        <input type="radio" class="form-check-input" id="radio1" name="optradio" value="option1">
                        you will be more eligible to get better credit cards with better benefits
                        <label class="form-check-label" for="radio1"></label>
                  </div>
                  <div class="form-check">
                        <input type="radio" class="form-check-input" id="radio2" name="optradio" value="option2">
                        you will be more qualified for better loans from your bank
                        <label class="form-check-label" for="radio2"></label>
                  </div>
                  <div class="form-check">
                        <input type="radio" class="form-check-input" id="opt2_3_3" name="optradio" value="option3">
                        you can get a free car from your high credit score 
                        <label class="form-check-label"></label>
                  </div> 
                  <div class="form-check">
                      <input type="radio" class="form-check-input" id="radio4" name="optradio" value="option3">
                      you will be able to pre-qualify for better credit cards
                      <label class="form-check-label"></label>
                      <div class="valid-feedback">Correct Answer!</div>
                    <div class="invalid-feedback">Incorrect or Unselected Answer.</div>
                  </div> 
                  <button id="checkQ2.3" type="button" class="btn btn-info">Check Question 3</button>
                </form>
                <hr>
                <form action="/action_page.php" id="q2.4" class="needs-validation" novalidate>
                  <h6>4. How do secured credit cards work?</h6>
                  <div class="form-check">
                        <input type="radio" class="form-check-input" id="radio1" name="optradio" value="option1">
                        you secure your credit card from getting stolen
                        <label class="form-check-label" for="radio1"></label>
                  </div>
                  <div class="form-check">
                        <input type="radio" class="form-check-input" id="opt2_4_2" name="optradio" value="option2">
                        you deposit a collateral amount (i.e. $500) and that represents your credit line for the credit card and how much you can spend from it
                        <label class="form-check-label" for="radio2"></label>
                  </div>
                  <div class="form-check">
                        <input type="radio" class="form-check-input" id="radio3" name="optradio" value="option3">
                        you can set up automatic secured payments monthly to pay off your credit card
                        <label class="form-check-label"></label>
                  </div> 
                  <div class="form-check">
                      <input type="radio" class="form-check-input" id="radio4" name="optradio" value="option3">
                      you are guaranteed a good credit score when you receive a secured credit card
                      <label class="form-check-label"></label>
                      <div class="valid-feedback">Correct Answer!</div>
                    <div class="invalid-feedback">Incorrect or Unselected Answer.</div>
                  </div> 
                  <button id="checkQ2.4" type="button" class="btn btn-info">Check Question 4</button>
                </form>
                <hr>
                <form action="/action_page.php" id="q2.5" class="needs-validation" novalidate>
                  <h6>5. Which credit cards are recommended for beginners with no credit history?</h6>
                  <div class="form-check">
                        <input type="radio" class="form-check-input" id="radio1" name="optradio" value="option1">
                        Student Credit Cards (if a student in college)
                        <label class="form-check-label" for="radio1"></label>
                  </div>
                  <div class="form-check">
                        <input type="radio" class="form-check-input" id="radio2" name="optradio" value="option2">
                        Secured Credit Cards
                        <label class="form-check-label" for="radio2"></label>
                  </div>
                  <div class="form-check">
                        <input type="radio" class="form-check-input" id="radio3" name="optradio" value="option3">
                        Cash Back Credit Cards
                        <label class="form-check-label"></label>
                  </div> 
                  <div class="form-check">
                      <input type="radio" class="form-check-input" id="opt2_5_4" name="optradio" value="option3">
                      Both A and B
                      <label class="form-check-label"></label>
                      <div class="valid-feedback">Correct Answer!</div>
                    <div class="invalid-feedback">Incorrect or Unselected Answer.</div>
                  </div> 
                  <button id="checkQ2.5" type="button" class="btn btn-info">Check Question 5</button>
                </form>
              </div>
        
              <!-- Modal footer -->
              <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
              </div>
        
            </div>
          </div>
        </div>

        <div class="modal fade" id="quiz3pop">
          <div class="modal-dialog">
            <div class="modal-content">
        
              <!-- Modal Header -->
              <div class="modal-header">
                <h4 class="modal-title">Quiz 3: All about credit cards</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
              </div>
        
              <!-- Modal body -->
              <div class="modal-body">
                {% include 'quizinstructions.html' %}
                <form action="/action_pageq.php" id="q3.1" class="needs-validation" novalidate>
                  <h6>1. How do you get your first credit card?</h6>
                  <div class="form-check">
                      <input type="radio" class="form-check-input" id="radio1" name="optradio" value="option1">
                      go to your bank to ask for a credit card
                      <label class="form-check-label" for="radio1"></label>
                  </div>
                  <div class="form-check">
                      <input type="radio" class="form-check-input" id="radio2" name="optradio" value="option2">
                      you receive one when you turn 18 and register with your bank
                      <label class="form-check-label" for="radio2"></label>
                  </div>
                  <div class="form-check">
                      <input type="radio" class="form-check-input" id="opt3_1_3" name="optradio" value="option3">
                      you have to apply to receive your first credit card from the respective credit card's application
                      <label class="form-check-label"></label>
                  </div> 
                  <div class="form-check">
                    <input type="radio" class="form-check-input" id="radio4" name="optradio" value="option3">
                    have you parents authorize you to be a credit card holder
                    <label class="form-check-label"></label>
                    <div class="valid-feedback">Correct Answer!</div>
                    <div class="invalid-feedback">Incorrect or Unselected Answer.</div>
                  </div> 
                  <button id="checkQ3.1" type="button" class="btn btn-info">Check Question 1</button>
                </form>
                <hr>
                <form action="/action_pageq.php" id="q3.2" class="needs-validation" novalidate>
                  <h6>2. If you put in $500 as collateral for a secured credit card, what if your credit line?</h6>
                  <div class="form-check">
                        <input type="radio" class="form-check-input" id="radio1" name="optradio" value="option1">
                        $100 credit line
                        <label class="form-check-label" for="radio1"></label>
                  </div>
                  <div class="form-check">
                        <input type="radio" class="form-check-input" id="radio2" name="optradio" value="option2">
                        $250 credit line
                        <label class="form-check-label" for="radio2"></label>
                  </div>
                  <div class="form-check">
                        <input type="radio" class="form-check-input" id="opt3_2_3" name="optradio" value="option3">
                        $500 credit line
                        <label class="form-check-label"></label>
                  </div> 
                  <div class="form-check">
                      <input type="radio" class="form-check-input" id="radio4" name="optradio" value="option3">
                      $5000 credit line
                      <label class="form-check-label"></label>
                      <div class="valid-feedback">Correct Answer!</div>
                    <div class="invalid-feedback">Incorrect or Unselected Answer.</div>
                  </div> 
                  <button id="checkQ3.2" type="button" class="btn btn-info">Check Question 2</button>
                </form>
                <hr>
                <form action="/action_page.php" id="q3.3" class="needs-validation" novalidate>
                  <h6>3. What is the GOLDEN RULE OF CREDIT CARDS?</h6>
                  <div class="form-check">
                        <input type="radio" class="form-check-input" id="radio1" name="optradio" value="option1">
                        never accept a pre-approved credit card offer from your bank
                        <label class="form-check-label" for="radio1"></label>
                  </div>
                  <div class="form-check">
                        <input type="radio" class="form-check-input" id="radio2" name="optradio" value="option2">
                        always choose credit cards that you can be approved for
                        <label class="form-check-label" for="radio2"></label>
                  </div>
                  <div class="form-check">
                        <input type="radio" class="form-check-input" id="radio3" name="optradio" value="option3">
                        always pay off your credit card as soon as possible
                        <label class="form-check-label"></label>
                  </div> 
                  <div class="form-check">
                      <input type="radio" class="form-check-input" id="opt3_3_4" name="optradio" value="option3">
                      never spend over the credit limit and never spend more than your funds in your bank account
                      <label class="form-check-label"></label>
                      <div class="valid-feedback">Correct Answer!</div>
                    <div class="invalid-feedback">Incorrect or Unselected Answer.</div>
                  </div> 
                  <button id="checkQ3.3" type="button" class="btn btn-info">Check Question 3</button>
                </form>
                <hr>
                <form action="/action_page.php" id="q3.4" class="needs-validation" novalidate>
                  <h6>4. When should you pay off your credit card(s)?</h6>
                  <div class="form-check">
                        <input type="radio" class="form-check-input" id="opt3_4_1" name="optradio" value="option1">
                        ideally, before your minimum payment due date
                        <label class="form-check-label" for="radio1"></label>
                  </div>
                  <div class="form-check">
                        <input type="radio" class="form-check-input" id="radio2" name="optradio" value="option2">
                        as soon as possible if you have available funds
                        <label class="form-check-label" for="radio2"></label>
                  </div>
                  <div class="form-check">
                        <input type="radio" class="form-check-input" id="radio3" name="optradio" value="option3">
                        at the end of each month
                        <label class="form-check-label"></label>
                  </div> 
                  <div class="form-check">
                      <input type="radio" class="form-check-input" id="radio4" name="optradio" value="option3">
                      you can pay off only the minimum payment balances
                      <label class="form-check-label"></label>
                      <div class="valid-feedback">Correct Answer!</div>
                    <div class="invalid-feedback">Incorrect or Unselected Answer.</div>
                  </div> 
                  <button id="checkQ3.4" type="button" class="btn btn-info">Check Question 4</button>
                </form>
                <hr>
                <form action="/action_page.php" id="q3.5" class="needs-validation" novalidate>
                  <h6>5. Where can you find beginner-friendly credit cards to apply for?</h6>
                  <div class="form-check">
                        <input type="radio" class="form-check-input" id="radio1" name="optradio" value="option1">
                        on the Credit Cards of this webpage
                        <label class="form-check-label" for="radio1"></label>
                  </div>
                  <div class="form-check">
                        <input type="radio" class="form-check-input" id="radio2" name="optradio" value="option2">
                        <a href="https://www.nerdwallet.com/m/credit-cards/excellent-student-credit-cards?bucket_id=lp1&ds_rl=1246084&gclid=Cj0KCQjw_4-SBhCgARIsAAlegrXAnA_lIT_NbjkTT7r3eWYrTkUh-afPFc1IX0H5lFs2OFyOvpU2zsMaAsocEALw_wcB&gclsrc=aw.ds&mktg_body=2851&mktg_hline=19110&mktg_img=3599&mktg_place=kwd-10016841&model_execution_id=095A2BA2-A117-433C-88C4-3BECB46F065A&nw_campaign_id=150282926065101200&utm_campaign=cc_mktg_paid_071520_student_alpha&utm_content=ta&utm_medium=cpc&utm_source=goog&utm_term=student+credit+cards" target="_blank" rel="noopener noreferrer">
                          on this Nerdwallet website</a>
                        <label class="form-check-label" for="radio2"></label>
                  </div>
                  <div class="form-check">
                        <input type="radio" class="form-check-input" id="radio3" name="optradio" value="option3">
                        in your bank's website
                        <label class="form-check-label"></label>
                  </div> 
                  <div class="form-check">
                      <input type="radio" class="form-check-input" id="opt4_5_4" name="optradio" value="option3">
                      all of the above
                      <label class="form-check-label"></label>
                      <div class="valid-feedback">Correct Answer!</div>
                    <div class="invalid-feedback">Incorrect or Unselected Answer.</div>
                  </div> 
                  <button id="checkQ3.5" type="button" class="btn btn-info">Check Question 5</button>
                </form>
              </div>
        
              <!-- Modal footer -->
              <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
              </div>
        
            </div>
          </div>
        </div>

        <div class="content vertical-flex-container" id="main-content">

          <!-- Scrollspy Navigation Bar -->
          <nav class="navbar navbar-expand-sm bg-dark navbar-dark container-fluid position-fixed">
              <div class="container-fluid">
              <ul class="navbar-nav">
                  <li class="nav-item">
                  <a class="nav-link" href="#section1">Section 1</a>
                  </li>
                  <li class="nav-item">
                  <a class="nav-link" href="#quiz1">Quiz 1</a>
                  </li>
                  <li class="nav-item">
                  <a class="nav-link" href="#section2">Section 2</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="#quiz2">Quiz 2</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="#section3">Section 3</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="#quiz3">Quiz 3</a>
                  </li>
              </ul>
              </div>
          </nav>
            
            
            <div id="section1" class="container-fixed bg-success text-white" style="padding:100px 20px;">
                {% include 'section1.html' %}
            </div>

            <div id="quiz1" class="container-fluid bg-light" style="padding:100px 20px;">
              <h1>Quiz 1: Going over content from Section 1</h1>
              <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#quiz1pop">
                  Take Quiz 1!
              </button>
            </div>
            
            <div id="section2" class="container-fluid bg-success text-white" style="padding:100px 20px;">
                {% include 'section2.html' %}
            </div>

            <div id="quiz2" class="container-fluid bg-light" style="padding:100px 20px;">
              <h1>Quiz 2: Going over content from Section 2</h1>
                <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#quiz2pop">
                    Take Quiz 2!
                </button>
            </div>

            <div id="section3" class="container-fluid bg-success text-white" style="padding:100px 20px;">
                {% include 'section3.html' %}
            </div>

            <div id="quiz3" class="container-fluid bg-light" style="padding:100px 20px;">
              <h1>Quiz 3: Going over content from the whole tutorial</h1>
              <button type="button" class="btn btn-dark" data-bs-toggle="modal" href="#quiz3pop">
                    Take Quiz 3</button>
                
            </div>

        <div class="container-fluid bg-success" style="color: white; text-align: center;">
            <p>Created by Atanas (Nasko) Tenev | Class of 2023 | Princeton University Department of Computer Science</p>
        </div>
      </div>

      <script src = 
      "https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js">
      </script>
      <script>
      document.getElementById("checkQ1.1").onclick = function() {
        if($('#opt1_1_2').is(':checked')) { 
          document.getElementById("q1.1").classList.add('was-validated');
          console.log("correct answer");
          }
        else{
          document.getElementById("q1.1").classList.remove('was-validated');
          document.getElementById("q1.1").classList.add('needs-validation');
          console.log("incorrect answer"); 
        }
      };

      document.getElementById("checkQ1.2").onclick = function() {
        if($('#opt1_2_1').is(':checked')) { 
          document.getElementById("q1.2").classList.add('was-validated');
          console.log("correct answer");
          }
        else{
          document.getElementById("q1.2").classList.remove('was-validated');
          document.getElementById("q1.2").classList.add('needs-validation');
          console.log("incorrect answer"); 
        }
      };

      document.getElementById("checkQ1.3").onclick = function() {
        if($('#opt1_3_1').is(':checked')) { 
          document.getElementById("q1.3").classList.add('was-validated');
          console.log("correct answer");
          }
        else{
          document.getElementById("q1.3").classList.remove('was-validated');
          document.getElementById("q1.3").classList.add('needs-validation');
          console.log("incorrect answer"); 
        }
      };
      
      document.getElementById("checkQ1.4").onclick = function() {
        if($('#opt1_4_4').is(':checked')) { 
          document.getElementById("q1.4").classList.add('was-validated');
          console.log("correct answer");
          }
        else{
          document.getElementById("q1.4").classList.remove('was-validated');
          document.getElementById("q1.4").classList.add('needs-validation');
          console.log("incorrect answer"); 
        }
      };

      document.getElementById("checkQ1.5").onclick = function() {
        if($('#opt1_5_1').is(':checked')) { 
          document.getElementById("q1.5").classList.add('was-validated');
          console.log("correct answer");
          }
        else{
          document.getElementById("q1.5").classList.remove('was-validated');
          document.getElementById("q1.5").classList.add('needs-validation');
          console.log("incorrect answer"); 
        }
      };

      document.getElementById("checkQ2.1").onclick = function() {
        if($('#opt2_1_2').is(':checked')) { 
          document.getElementById("q2.1").classList.add('was-validated');
          console.log("correct answer");
          }
        else{
          document.getElementById("q2.1").classList.remove('was-validated');
          document.getElementById("q2.1").classList.add('needs-validation');
          console.log("incorrect answer"); 
        }
      };
    
      document.getElementById("checkQ2.2").onclick = function() {
        if($('#opt2_2_3').is(':checked')) { 
          document.getElementById("q2.2").classList.add('was-validated');
          console.log("correct answer");
          }
        else{
          document.getElementById("q2.2").classList.remove('was-validated');
          document.getElementById("q2.2").classList.add('needs-validation');
          console.log("incorrect answer"); 
        }
      };

      document.getElementById("checkQ2.3").onclick = function() {
        if($('#opt2_3_3').is(':checked')) { 
          document.getElementById("q2.3").classList.add('was-validated');
          console.log("correct answer");
          }
        else{
          document.getElementById("q2.3").classList.remove('was-validated');
          document.getElementById("q2.3").classList.add('needs-validation');
          console.log("incorrect answer"); 
        }
      };

      document.getElementById("checkQ2.4").onclick = function() {
        if($('#opt2_4_2').is(':checked')) { 
          document.getElementById("q2.4").classList.add('was-validated');
          console.log("correct answer");
          }
        else{
          document.getElementById("q2.4").classList.remove('was-validated');
          document.getElementById("q2.4").classList.add('needs-validation');
          console.log("incorrect answer"); 
        }
      };

      document.getElementById("checkQ2.5").onclick = function() {
        if($('#opt2_5_4').is(':checked')) { 
          document.getElementById("q2.5").classList.add('was-validated');
          console.log("correct answer");
          }
        else{
          document.getElementById("q2.5").classList.remove('was-validated');
          document.getElementById("q2.5").classList.add('needs-validation');
          console.log("incorrect answer"); 
        }
      };
    
      document.getElementById("checkQ3.1").onclick = function() {
        if($('#opt3_1_3').is(':checked')) { 
          document.getElementById("q3.1").classList.add('was-validated');
          console.log("correct answer");
          }
        else{
          document.getElementById("q3.1").classList.remove('was-validated');
          document.getElementById("q3.1").classList.add('needs-validation');
          console.log("incorrect answer"); 
        }
      };
    
      document.getElementById("checkQ3.2").onclick = function() {
        if($('#opt3_2_3').is(':checked')) { 
          document.getElementById("q3.2").classList.add('was-validated');
          console.log("correct answer");
          }
        else{
          document.getElementById("q3.2").classList.remove('was-validated');
          document.getElementById("q3.2").classList.add('needs-validation');
          console.log("incorrect answer"); 
        }
      };

      document.getElementById("checkQ3.3").onclick = function() {
        if($('#opt3_3_4').is(':checked')) { 
          document.getElementById("q3.3").classList.add('was-validated');
          console.log("correct answer");
          }
        else{
          document.getElementById("q3.3").classList.remove('was-validated');
          document.getElementById("q3.3").classList.add('needs-validation');
          console.log("incorrect answer"); 
        }
      };

      document.getElementById("checkQ3.4").onclick = function() {
        if($('#opt3_4_1').is(':checked')) { 
          document.getElementById("q3.4").classList.add('was-validated');
          console.log("correct answer");
          }
        else{
          document.getElementById("q3.4").classList.remove('was-validated');
          document.getElementById("q3.4").classList.add('needs-validation');
          console.log("incorrect answer"); 
        }
      };

      document.getElementById("checkQ3.5").onclick = function() {
        if($('#opt4_5_4').is(':checked')) { 
          document.getElementById("q3.5").classList.add('was-validated');
          console.log("correct answer");
          }
        else{
          document.getElementById("q3.5").classList.remove('was-validated');
          document.getElementById("q3.5").classList.add('needs-validation');
          console.log("incorrect answer"); 
        }
      };
    
    </script>
    </body>
</html>